
*.properties
*.lock
*.bin
*.log
*.txt
*.iml
*.ipr
*.iws
*.info
*.xml
*.launch
*.prefs
*.tree
eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Minecraft/.location
*.class
eclipse/mods/ic2/EJML-core-0.26.jar
*.cfg
