*.lock
*.bin
*.log
*.txt
*.iml
*.ipr
*.iws
*.info
*.xml
*.launch
*.prefs
*.tree
*.class
*.cfg
*.gz
*.kotlin_module
*.ini
eclipse/
out/
build/
idea/
.idea/
.gradle/
*.psd
*.jar1
*.psd
*.patch
src/main/generated/
src/main/resources/mixins.*.json
run/
runDir/
.gitattributes
